swagger: "2.0"
info:
  title: Dify Chat
  version: 1.0.0
host: api.dify.ai
basePath: /v1
schemes:
  - https
securityDefinitions:
  api_key:
    type: apiKey
    name: Authorization
    in: header
security:
  - api_key: []
paths:
  /chat-messages:
    post:
      operationId: chat
      summary: Send chat message
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - query
              - user
              - response_mode
              - inputs
            properties:
              query:
                type: string
                description: User question
              inputs:
                type: object
                description: App variables
                default: {}
                additionalProperties: true
              user:
                type: string
                enum:
                  - "copilot-user"
                default: "copilot-user"
              response_mode:
                type: string
                enum:
                  - "blocking"
                default: "blocking"
      responses:
        200:
          description: Success
          schema:
            type: object
            properties:
              answer:
                type: string
